.main {
  display: flex;
  flex-wrap: nowrap;
}

.container {
  width: 50vw;
  padding: 50px;
  min-height: 100vh;
  background-color: blue;
}

.form-container {
  background-color: coral;
}

.inputs-container {
  width: 100%;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.created-form-container .new-form-element {
  position: relative;
}

.new-form-element {
  margin: 20px 0;
}

.input-add-form {
  margin: 20px 0;
}

.btn-send-form {
  width: 100%;
  margin: 20px 0;
}

.new-form-element::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.copy-btn {
  width: 10%;
}
