.main {
  display: flex;
}

.container {
  width: 50vw;
  height: 100vh;
  padding: 50px;
  background-color: blue;
}

.form-container {
  background-color: coral;
}

.inputs-container {
  width: 100%;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-form-element {
  position: relative;
}
.input-add-form {
  margin: 20px 0;
}

.btn-send-form {
  width: 100%;
  margin: 20px 0;
}

.new-form-element::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.new-form-element .copy-btn {
  position: absolute;
  width: 10%;
  right: -5%;
  top: -15%;
  z-index: 2;
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
  background-color: black;
  border-radius: 10px;
}
